.leftButton,
.rightButton {
    position: fixed;
    margin: auto;
    cursor: pointer;
    z-index: 10;
    visibility: hidden;
}

.rightButton::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    visibility: visible;
    border: 30px solid transparent;
    border-left: 50px solid rgba(0,0,139, 0.8);
}

.leftButton::after {
    content: '';
    visibility: visible;
    top: 0;
    left: 0;
    position: absolute;
    border: 30px solid transparent;
    border-right: 50px solid rgba(0,0,139, 0.8);
}

.true {
    visibility: visible;
}

.false {
    visibility: hidden;
}