.grid {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 25px;
  }

.container {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 20px;
}