.preview >  img {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    max-width: 99%;
    max-height: 99%;
    margin: auto;
    z-index: 2;
    cursor: progress;
    -webkit-box-shadow: 0 0 40px #000, 0 0 0 1000px rgba(0,0,0,.8);
            box-shadow: 0 0 40px #000, 0 0 0 1000px rgba(05,0,0,.8);
}

.preview {
  position: relative;
  margin: auto;
}

.hidden {
  display: none;
}