body {
  margin: 10px;
	color: #374046;
	background-color: #374046;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.15em;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
